div {
    margin: 1em 1em 1em 1em;
}

.anterior {
    width: 15em;
    height: 10em;
    border: 2px solid blue;
    background-image: url("img.png");
    background-position: bottom, left;
    background-size: 40em;
}

.central {
    margin-left: 2em;
    width: 25em;
    height: 20em;
    border: 3px solid red;
    background-image: url("img.png");
    background-position: bottom, left;
    background-size: 40em;
}

.posterior {
    width: 15em;
    height: 10em;
    border: 2px solid blue;
    background-image: url("img.png");
    background-position: bottom, left;
    background-size: 40em;
}