html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

table, tr, th, td {
    border: 3px solid grey;
}

td {
    background-color: #fdfe98;
}

table {
    width: 50%;
    text-align: center;
    background-color: white;
}